.email-call-btn {
  border: 1px solid #000;
  padding: 2px;
  margin-bottom: 4px;
  margin-top: 4px;

}

.email-call-btn .center-block{
  width: 60px;
}

.agent-block{
  min-height: 200px;
  margin-top: 20px;
}
